<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="edgeDecor">
    <div class="fitshop-home-side fitshop-home-side--left" aria-hidden="true">
        <span class="fitshop-home-geo fitshop-home-geo--hex"></span>
        <span class="fitshop-home-geo fitshop-home-geo--prism"></span>
        <span class="fitshop-home-geo fitshop-home-geo--orb"></span>
        <span class="fitshop-home-geo fitshop-home-geo--shard"></span>
    </div>
    <div class="fitshop-home-side fitshop-home-side--right" aria-hidden="true">
        <span class="fitshop-home-geo fitshop-home-geo--hex fitshop-home-geo--mirror"></span>
        <span class="fitshop-home-geo fitshop-home-geo--prism fitshop-home-geo--mirror"></span>
        <span class="fitshop-home-geo fitshop-home-geo--orb fitshop-home-geo--mirror"></span>
        <span class="fitshop-home-geo fitshop-home-geo--shard fitshop-home-geo--mirror"></span>
    </div>
</th:block>
</body>
</html>
